{% extends 'dashboard/category/layout.twig' %}

{% block content %}
<main class="category-wrapper">
    <h1>Add Category</h1>

    <form action="/admin-dashboard/categories" method="POST">
        <div>
            <label for="name">Category</label>
            <input type="text" id="name" name="name">
        </div>
        <button type="submit">Submit</button>
    </form>

    <h2>All Categories</h2>
    <table class="all-categories admin-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </table>

    <div id="edit-popup" class="edit-popup">
        <div class="popup-content">
            <span id="closePopupBtn" class="close">&times;</span>
            <h3>Edit Product</h3>

            <form method="POST">

                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>

                <button type="submit">Submit</button>
            </form>

        </div>
    </div>
</main>
{% endblock %}