<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
        {{ encore_entry_script_tags('products') }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0 admin-links">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Homepage</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin-dashboard/products"  class="nav-link px-0 align-middle admin-links">
                            <i class="fs-4 bi-basket"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin-dashboard/users" class="nav-link px-0 align-middle admin-links">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin-dashboard/categories" class="nav-link px-0 align-middle admin-links">
                            <i class="bi bi-tags"></i> <span class="ms-1 d-none d-sm-inline">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin-dashboard/orders" class="nav-link px-0 align-middle admin-links">
                            <i class="bi bi-truck"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="nav nav-pills pb-4">
                    <a href="#" class="logout-button nav-link px-0 align-middle">
                        <i class="bi bi-box-arrow-left"></i>
                        <span class="d-none d-sm-inline mx-1 c-blue">Logout</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col py-3">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
