@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e7ebee;
}

.c-blue {
  color: $primary-blue;
}
